<app-encabezado-profe [titulo]="'Menú Principal'" [showBackButton]="false"></app-encabezado-profe>

<ion-content class="ion-padding ion-text-center">
  <div class="ion-padding logo">
    <img class="lpad rpad" src="assets/icon/logo_registrapp.png" alt="logo_registrapp">  
  </div>
  <p>Bienvenido a RegistrAPP, profesor!</p>

  <ion-content class="white-content ion-padding">
    <ion-list style="padding-bottom: 50px;">
      <ion-item button color="dark" [routerLink]="['/asignaturas-profesor-qr']">Generar código QR</ion-item> 
      <ion-item button color="dark" [routerLink]="['/teacher-assignments']">Ver asistencias</ion-item>
      <ion-item button color="dark" [routerLink]="['/agregar-asignatura']">Agregar asignatura</ion-item> 
      <ion-item button color="dark" [routerLink]="['/confi']">Ajustes</ion-item>
      <ion-item button color="dark" (click)="confirmLogout()">Cerrar Sesión</ion-item>
    </ion-list>
  </ion-content>
</ion-content>
