<app-encabezado [titulo]="'Asignaturas del Profesor'" [showBackButton]="true"></app-encabezado>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item button (click)="goToRegister('java')">
      <ion-label>Programación orientada a objetos - 001D</ion-label>
    </ion-item>

    <ion-item button (click)="goToRegister('github')">
      <ion-label>GitHub - 001D</ion-label>
    </ion-item>

    <ion-item button (click)="goToRegister('programacion')">
      <ion-label>Programación de aplicaciones móviles - 001D</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
