
 <ion-content class="ion-padding ion-text-center">

  <!-- Contenedor Blanco -->
  <div class="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="createUserForm">

      <!-- Selección de foto de perfil del usuario -->
      <div class="profile-pic-container">
        <ion-avatar>
          <img src="assets/placeholders/perfil_placeholder.jpg" alt="Foto de perfil" />
        </ion-avatar>
        <ion-button expand="block" (click)="subirFoto()" class="upload-button">Seleccionar Foto</ion-button>
      </div>

      <!-- Campos de registro -->
      <ion-item lines="none">
        <ion-input formControlName="uname" fill="outline" type="text" placeholder="Nombres" required></ion-input>
      </ion-item>

        <!--Mensaje de error Nombre-->
        <div *ngIf="createUserForm.get('uname')?.invalid && (createUserForm.get('uname')?.dirty || createUserForm.get('uname')?.touched)">
          <small class="msj-error" *ngIf="createUserForm.get('uname')?.hasError('required')">El nombre es requerido.</small>
          <small class="msj-error" *ngIf="createUserForm.get('uname')?.hasError('minlength')">El nombre debe tener al menos 3 caracteres.</small>
        </div>
      
      <ion-item lines="none">
        <ion-input formControlName="ulaname" fill="outline" type="text" placeholder="Apellidos" required></ion-input>
      </ion-item>

        <!--Mensaje de error Apellidos-->
        <div *ngIf="createUserForm.get('ulaname')?.invalid && (createUserForm.get('ulaname')?.dirty || createUserForm.get('ulaname')?.touched)">
          <small class="msj-error" *ngIf="createUserForm.get('ulaname')?.hasError('required')">El Apellido es requerido.</small>
          <small class="msj-error" *ngIf="createUserForm.get('ulaname')?.hasError('minlength')">El Apellido debe tener al menos 3 caracteres.</small>
        </div>

      <ion-item lines="none">
        <ion-input formControlName="uemail" fill="outline" type="email" placeholder="Correo Institucional" required></ion-input>
      </ion-item>

        <!--Mensaje de error Correo-->
        <div *ngIf="createUserForm.get('correo')?.invalid && (createUserForm.get('correo')?.dirty || createUserForm.get('correo')?.touched)">
          <small class="msj-error" *ngIf="createUserForm.get('correo')?.hasError('required')">El Correo es requerido.</small>
          <small class="msj-error" *ngIf="createUserForm.get('correo')?.hasError('email')">El formato del Correo es incorrecto.</small>
          <small class="msj-error" *ngIf="createUserForm.get('correo')?.errors?.['emailDomain']">Debe usar un correo que termine en &#64;duocuc.cl.</small>
        </div>

      <ion-item lines="none">
        <ion-input formControlName="password" fill="outline" type="password" placeholder="Contraseña" required></ion-input>
      </ion-item>

        <!--Mensaje de error Contrase a-->
        <div *ngIf="createUserForm.get('password')?.invalid && (createUserForm.get('password')?.dirty || createUserForm.get('password')?.touched)">
          <small class="msj-error" *ngIf="createUserForm.get('password')?.hasError('required')">La Contraseña es requerida.</small>
          <small class="msj-error" *ngIf="createUserForm.get('password')?.hasError('minlength')">La Contraseña debe tener al menos 6 caracteres.</small>
        </div>

      <ion-item lines="none">
        <ion-input formControlName="confirmPassword" fill="outline" type="password" placeholder="Repetir contraseña" required></ion-input>
      </ion-item>

        <!--Mensaje de error Confirmación de Contrase a-->
        <div *ngIf="createUserForm.get('confirmPassword')?.invalid && (createUserForm.get('confirmPassword')?.dirty || createUserForm.get('confirmPassword')?.touched)">
          <small class="msj-error" *ngIf="createUserForm.get('confirmPassword')?.hasError('required')">La confirmación de Contraseña es requerida.</small>
          <small class="msj-error" *ngIf="createUserForm.get('confirmPassword')?.hasError('mustMatch')">Las contraseñas no coinciden.</small>
        </div>

      <ion-button color="dark" expand="block" type="submit">Registrarme</ion-button>
    </form>
    <ion-button expand="block" fill="clear"  routerLink="/login">Atrás</ion-button>
  </div>
</ion-content>