ion-content {
    --background: #012C56;
    padding: 20px; // Espaciado interno
}

.container {
    background-color: white; // Fondo blanco
    border-radius: 8px; // Bordes redondeados
    border-color: gray;
    padding: 20px; // Espaciado interno
    margin: 80px auto; // Margen automático para centrar
    max-width: 400px; // Ancho máximo del contenedor
  }

ion-item {
    padding-bottom: 20px;
}

.contenedor-registro{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}