<app-encabezado [titulo]="'Escanear QR'" [showBackButton]="true"></app-encabezado>

<ion-content class="camera-sim ion-padding">
  <div class="qr-container ion-padding">
    <div class="recording-frame">
      <zxing-scanner 
        (scanSuccess)="onScanSuccess($event)" 
        [start]="isScanning">
      </zxing-scanner>
      <h3>Apunte con la cámara al código QR</h3>
    </div>
  </div>
  <div class="button-container">
    <ion-button expand="full" color="dark" (click)="mostrarAlertaExito()">Escanear</ion-button>
    <ion-button expand="full" color="danger" (click)="mostrarAlertaFallo()">Escaneo Fallido</ion-button>
    <ion-button expand="full" color="light" (click)="cancelarEscaneo()">Cancelar Escaneo</ion-button>
  </div>
</ion-content>