.camera-sim {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.qr-container {
  width: 100%;
  height: 300px; /* Ajusta la altura según sea necesario */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px dashed #007bff; /* Color del marco */
  margin-bottom: 20px;
  margin-top: 50px;
}

.recording-frame {
  width: 90%; /* Ajusta el tamaño del marco según sea necesario */
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 123, 255, 0.1); /* Color de fondo opcional */
  border-radius: 10px;
}

.button-container {
  display: flex; /* Cambiado para mostrar los botones uno al lado del otro */
  justify-content: space-between; /* Espacio entre los botones */
  width: 100%; /* Ajustar al ancho del contenedor */
  padding: 0 20px; /* Espacio a los lados */
}

.button {
  flex: 1; /* Los botones ocuparán el mismo espacio */
  margin: 0 5px; /* Margen entre los botones */
}

ion-button {
  margin-top: 10px; /* Espaciado entre los botones */
}