.camera-sim {
  display: flex;
  justify-content: center;
}

.qr-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.recording-frame {
  position: relative;
  width: 70%; /* Ajusta el tamaño a tu preferencia */
  max-width: 400px;
  height: 40vh; /* Puedes cambiar este valor para la altura deseada */
  max-height: 300px;
  border: 2px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

zxing-scanner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 4px; /* Reducido para acercar los botones entre sí */
  padding: 0 20px;
  margin-top: -150px; /* Ajustado para acercar los botones al cuadro */
}

ion-button {
  --margin-bottom: 4px; /* Ajustado para reducir espacio entre botones */
}