.camera-sim {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
<<<<<<< HEAD
  align-items: center; /* Centra el contenido verticalmente */
  flex-direction: column; /* Apila los elementos verticalmente */
  height: 100%; /* Ocupa toda la altura disponible */
  text-align: center; /* Asegura que los elementos dentro estén centrados */
=======
  height: 100%;
>>>>>>> rama-prueba-final
}

.qr-container {
  width: 100%;
  height: 300px; /* Ajusta la altura según sea necesario */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px dashed #007bff; /* Color del marco */
  margin-bottom: 20px;
  margin-top: 50px;
}

.recording-frame {
<<<<<<< HEAD
  position: relative;
  width: 90%; /* Ajustado para hacer el cuadro más grande */
  max-width: 500px;
  height: 55vh; /* Aumentado para que el área sea más grande */
  max-height: 400px;
  border: 2px solid #333;
=======
  width: 90%; /* Ajusta el tamaño del marco según sea necesario */
  height: 90%;
>>>>>>> rama-prueba-final
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 123, 255, 0.1); /* Color de fondo opcional */
  border-radius: 10px;
}

<<<<<<< HEAD
.notification-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Fondo blanco */
  padding: 10px;
  width: 90%; /* Ajusta al mismo tamaño que el cuadro de escaneo */
  max-width: 500px;
  border-radius: 8px;
  margin-top: 5px; /* Reducción del margen superior para mover el cuadro más arriba */
  margin-left: 5%; /* Mueve el bloque más a la derecha */
  text-align: center; /* Asegurarse de que el texto se centre */
}

.notification-container h4 {
  color: #333; /* Color del texto */
  font-size: 16px;
  margin: 0; /* Eliminar márgenes extras */
}
=======
.button-container {
  display: flex; /* Cambiado para mostrar los botones uno al lado del otro */
  justify-content: space-between; /* Espacio entre los botones */
  width: 100%; /* Ajustar al ancho del contenedor */
  padding: 0 20px; /* Espacio a los lados */
}

.button {
  flex: 1; /* Los botones ocuparán el mismo espacio */
  margin: 0 5px; /* Margen entre los botones */
}

ion-button {
  margin-top: 10px; /* Espaciado entre los botones */
}
>>>>>>> rama-prueba-final
