<app-encabezado [titulo]="'Agregar Asignatura'" [showBackButton]="true"></app-encabezado>
<ion-content class="ion-padding">
  
  <ion-grid>
    <form action="" (ngSubmit)="agregarAsignatura()" [formGroup]="form">
      <ion-row>
        <ion-col size="12">
          <h2>Agregar nuevo taller</h2>
          <ion-item>
            <ion-label position="floating">Nombre del taller</ion-label>
            <ion-input type="text" placeholder="Ingrese el nombre"
              [formControl]="form.controls.nombreClase"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Cursos</ion-label>
            <ion-input type="text" placeholder="Ingrese cursos" [formControl]="form.controls.seccion"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Nivel de ciclo</ion-label>
            <ion-select placeholder="Seleccione el ciclo" [formControl]="form.controls.jornada">
              <ion-select-option value="I">Inicial</ion-select-option>
              <ion-select-option value="B">Básico</ion-select-option>
              <ion-select-option value="M">Medio</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-button expand="block" color="primary" type="submit">
            Agregar taller
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
    <ion-row>
      <ion-col size="12" class="ion-padding">
        <ion-button expand="block" color="secondary" (click)="mostrarAsignaturas = !mostrarAsignaturas">
          {{ mostrarAsignaturas ? 'Ocultar asignaturas agregadas' : 'Ver asignaturas agregadas' }}
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-accordion-group *ngIf="mostrarAsignaturas" class="pestana-asignaturas">
      <ion-accordion *ngFor="let asignatura of clases; let i = index">
        <ion-item slot="header">
          <ion-label>
            <h3>{{ asignatura.nombreClase }}</h3>
          </ion-label>
        </ion-item>
        <div slot="content">
          <p>Sección: {{ asignatura.seccion }}</p>
          <p>Jornada: {{ asignatura.jornada === 'I' ? 'Inicial' : (asignatura.jornada === 'B' ? 'Básico' : 'Medio') }}</p>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-grid>
</ion-content>