.pestana-asignaturas {
    margin-top: 20px;
  }
  
  ion-item[slot="header"] {
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
  }

  div[slot="content"]{
    padding-left: 10%;
  }
  
  ion-label h3 {
    font-size: 1em;
    font-weight: bold;
  }
  
  .ion-padding p {
    margin: 5px 0;
  }