<app-encabezado [titulo]="'Agregar Asignatura'" [showBackButton]="true"></app-encabezado>
<ion-content>
  
  <ion-grid>
    <form action="" (ngSubmit)="agregarAsignatura()" [formGroup]="form">
      <ion-row>
        <ion-col size="12">
          <h2>Agregar nueva asignatura</h2>
          <ion-item>
            <ion-label position="floating">Nombre de la asignatura</ion-label>
            <ion-input type="text" placeholder="Ingrese el nombre"
              [formControl]="form.controls.nombreClase"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Sección</ion-label>
            <ion-input type="text" placeholder="Ingrese la sección" [formControl]="form.controls.seccion"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Jornada</ion-label>
            <ion-select placeholder="Seleccione la jornada" [formControl]="form.controls.jornada">
              <ion-select-option value="D">Diurno</ion-select-option>
              <ion-select-option value="V">Vespertino</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-button expand="block" color="primary" type="submit">
            Agregar asignatura
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
    <ion-row>
      <ion-col size="12" class="ion-padding">
        <ion-button expand="block" color="secondary" (click)="mostrarAsignaturas = !mostrarAsignaturas">
          {{ mostrarAsignaturas ? 'Ocultar asignaturas agregadas' : 'Ver asignaturas agregadas' }}
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-accordion-group *ngIf="mostrarAsignaturas" class="pestana-asignaturas">
      <ion-accordion *ngFor="let asignatura of clases; let i = index">
            <ion-item slot="header">
              <ion-label>
                <h3>{{ asignatura.nombreClase }}</h3>
              </ion-label>
            </ion-item>
            <div slot="content">
              <p>Sección: {{ asignatura.seccion }}</p>
              <p>Jornada: {{ asignatura.jornada === 'D' ? 'Diurno' : 'Vespertino' }}</p>
            </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-grid>
</ion-content>