
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="showBackButton"> <!-- Condición para mostrar el botón -->
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ titulo }}</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/user']">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>