<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ subjectTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>Fecha: 01/09/2024</ion-label>
      <ion-note slot="end" color="success">Asistió</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Fecha: 05/09/2024</ion-label>
      <ion-note slot="end" color="success">Asistió</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Fecha: 10/09/2024</ion-label>
      <ion-note slot="end" color="danger">Ausente</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
