ion-item{
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 10px;
}

.logo{
    margin-top: 10%;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;     /* Centrar verticalmente */
}

.logo img{
    width: 150px;            /* Ajusta el ancho de la imagen */
    height: auto;
}