<app-encabezado [titulo]="'Menú Principal'" [showBackButton]="false"></app-encabezado>

<ion-content class="ion-padding ion-text-center">

  <div class="ion-padding logo">
    <img class="lpad rpad" src="assets/icon/logo_registrapp.png" title="logo_registrapp">  
  </div>
  <p>Bienvenido, {{ nombre +' '+ apellidos}}</p>

  <ion-content class="white-content ion-padding">
    <ion-list style="padding-bottom: 50px;">
      <ion-item button color="dark" [routerLink]="['/scan']">Escanear código QR</ion-item>
      <ion-item button color="dark" [routerLink]="['/select-assistance']">Ver asistencias</ion-item>
      <ion-item button color="dark" (click)="confirmLogout()">Cerrar sesión</ion-item>
    </ion-list>
  </ion-content>
</ion-content>